@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  --color-primary-orange: #ff7f22;
  --color-hover-button: #ff5722;
  --color-active-button: #ff7f22;
  --color-button-disable: #4c5865;
  --color-button-blue: #7cdaf9;
}

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
